.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #f5f5f5;
  text-align: center;
}
.header-logo {
  width: 40%;
  margin-top: 50px;
}
.header-description {
  margin-top: 20px;
  font-size: 1.3rem;
}
.header-description {
  font-family: "Kenia";
}
.social-login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-login-box {
  width: 70%;
  height: 4rem;
  background-color: red;
  margin-top: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NotoSansKR-B";
  font-size: 1.15rem;
  position: relative;
}
.social-login-box footer > a {
  display: inline-block;
  margin-top: 20px;
}
.social-login-box:first-child {
  background-color: #ffe812;
}
.social-login-box:nth-child(2) {
  background-color: #73d085;
}
.social-login-box:last-child {
  background-color: black;
  color: white;
}
.social-kakao {
  width: 2.3rem !important;
  position: absolute !important;
  left: 21.2% !important;
}
.social-login-box > img {
  width: 1.7rem;
  position: absolute;
  left: 22%;
}

footer > a {
  display: inline-block;
  margin-top: 25px;
  font-family: "NotoSansKR-B";
}
.login-link {
  margin-right: 120px;
}
